<h1 class="text-center">What do you want to learn</h1>
<input class="mx-auto d-block w-25 mt-4" type="text" placeholder="Search..">
<div class="row mt-5">
<% @categories.each do |category| %>
<div class="col-md-4">
  <div class="row m-3" style="border: gray 1px solid; border-radius: 4px">
    <div class="col-6 mx-auto d-block">Image Here</div>
    <h2 class="col-6 text-center"><%= category.name%></h2>
  </div>
</div>
<% end %>
</div>
