<div class="container">
	<div class="text-center m-5">Successfully added a new Category!</div>
	<div class="text-center">
		<div class="col-12">
			<%= link_to "Create Another", new_category_path %>
		</div>
		<div class="col-12 mt-3">
			<%= link_to "Go to Search Page", root_path %>
		</div>
	</div>
</div>